<h2>Welcome!</h2>
<p>
  In this project you're going to make a <a href="http://news.ycombinator.com/" target="_blank">Hacker News</a>
  clone that we call <strong>Lambda News</strong>.
  We're going to start off <em>very simple</em> but we'll make it fancier over time.
</p>

<p class="alert alert-info">
  If you're completely new to programming: <strong>go you!</strong>
  We'll do everything we can to help you learn, but you might want
  to <a href="javascript:alert('todo')">check out some intro resources</a> first. This lesson is geared
  towards someone who has a little background in programming.
</p>

<h3>Lets get this party started!</h3>

<p>
Before we begin writing code we should make sure the build is healthy. To do that, start up your
<code>rails server</code>! If it works, you should be able to see your server at
<a href="http://localhost:3000/" target="localhost">http://localhost:3000/</a>.
</p>

<div class="for-detailed">
  <h3>What's going on here?</h3>
  <p>
    When you ran <code>git clone</code> <a class="label label-info" href="javascript:alert('todo')">learn more</a> in
    the beginning, you downloaded a clean starting project.
    In order to get it up and running, you need to <a href="javascript:alert('todo')">install gem
    dependencies</a> and <a href="javascript:alert('todo')">start a rails server</a>.
  </p>
  <p>
    We want to start with this because if there's a problem, and we start coding, it'll be tough
    to figure out if the issue is related to our code or our setup. Sometimes it can be a real pain
    to get a project up and running, because there's a wide variety of different system configurations
    (e.g. Mac vs Windows, different versions of ruby, etc).
  </p>
</div>


